header{
    background-color: rgba(230,247,255,0.8);
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding:0.5rem 0 1rem 0;
    border-bottom: 5px solid white;
}

h1{
    font-size: 32px;
    margin-bottom: 4px;
}

p{
    font-size: 18px;
    font-style: italic;
    margin-top:0;
    padding-top:15px;
}

body{
    background-image: url(https://images.pexels.com/photos/1835712/pexels-photo-1835712.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-attachment: fixed;
    margin:0;
}

label{
    display: block;
}

form{
    width:60vw;
    margin: 2em auto;
    min-width: 300px;
    background-color: rgba(230,247,255,0.8);
    padding:2rem 2.8rem 2rem 2rem;
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

input, textarea, select{
    width:100%;
    margin:10px 0 0 0;
    min-height: 2rem;
}

select{
    width:101%;
}

.inline{
    width:unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

fieldset{
    border: none;
}

.adjustment{
    margin:0.3rem 0 0.3rem 0;
}

input[type="submit"] {
    display: block;
    width: 97%;
    height: 2em;
    font-size: 1.1rem;
    min-width: 300px;
    margin:1rem auto 0 auto;
  }